extends /base.pug
block body
  .mx-auto.w-1024.rwd.my-5
    .btn-group
      .btn.btn-outline-secondary(ld="lng",data-lng="zh-TW") zh-TW
      .btn.btn-outline-secondary(ld="lng",data-lng="en") en
    hr
    div(ld="uploader")
    div(ld="viewer")
block script
  script(type="module"): include:lsc index.ls
