doctype html
include /../../static/assets/lib/bootstrap.ldui/main/index.pug
include /../../static/assets/lib/ldview/main/ldview.pug
include /../../static/assets/lib/uploadr/dev/uploadr.pug
html
  head
    +css("assets/lib/bootstrap/main/css/bootstrap.min.css")
    +css("assets/lib/bootstrap.ldui/main/bootstrap.ldui.min.css")
    +css("assets/lib/ldcover/main/ldcv.min.css")
    +css("assets/lib/ldloader/main/ldld.min.css")
    +css("assets/lib/ldiconfont/main/ldif.min.css")
    +css("assets/lib/uploadr/dev/uploadr.min.css")
    +css("/css/index.css")

  body
    .w-1024.rwd.typeset.heading-contrast.mx-auto.p-4
      .d-flex.align-items-end
        .flex-grow-1
          h2 uploadr
          p file uploader widgets and express route
        div
          .btn.btn-primary(ld="toggle-uploader") Upload #[i.i-upload]
      hr

      .ldcv.default-size(ld="ldcv-uploadr"): .base: .inner
        +uploadr("uploadr")

      .card.w-100.mx-auto.rwd.shadow: .card-body.p-2
        +scope("viewer").d-flex.flex-wrap
          div(ld-each="photo",style="width:300px;height:200px;background-size:cover;background-position:center center;background-repeat:no-repeat")
        +scope("image-viewer"): +uploadr-viewer

    +script("/assets/lib/@loadingio/debounce.js/main/debounce.min.js")
    +script("/assets/lib/@loadingio/ldquery/main/ldq.min.js")
    +script("/assets/lib/@loadingio/ldpage/main/ldpage.min.js")
    +script("/assets/lib/proxise/main/proxise.min.js")
    +script("/assets/lib/ldview/main/ldview.min.js")
    +script("/assets/lib/ldcover/main/ldcv.min.js")
    +script("/assets/lib/ldloader/main/ldld.min.js")
    +script("assets/lib/uploadr/dev/uploadr.js")
    +script("assets/lib/uploadr/dev/viewer.js")
    +script("/js/index.js")
