doctype html
include @/@loadingio/bootstrap.ext/index.pug
include @/ldview/index.pug
include @static/assets/lib/uploadr/dev/index.pug
html
  head
    +css("assets/lib/bootstrap/main/dist/css/bootstrap.min.css")
    +css("assets/lib/@loadingio/bootstrap.ext/main/index.min.css")
    +css("assets/lib/ldcover/main/index.min.css")
    +css("assets/lib/ldloader/main/index.min.css")
    +css("assets/lib/ldnotify/main/index.min.css")
    +css("assets/lib/ldiconfont/main/ldif.min.css")
    +css("assets/lib/uploadr/dev/index.min.css")
    +css("/css/index.css")

  body
    .w-1024.rwd.typeset.heading-contrast.mx-auto.p-4
      .d-flex.align-items-end
        .flex-grow-1
          h2 uploadr
          p file uploader widgets and express route
        div
          .btn.btn-primary(ld="toggle-uploader") Upload #[i.i-upload]
          .btn.btn-primary.ml-2(ld="toggle-chooser") Choose #[i.i-book]
      hr

      .ldcv.default-size(ld="ldcv-uploadr"): .base: .inner
        +uploadr("uploadr")

      .ldcv.default-size(ld="ldcv-chooser"): .base
        #chooserroot.inner.clickable(style="overflow-y:scroll;overscroll-behavior:contain")
          +uploadr-viewer("uploadr-viewer")

      .card.w-100.mx-auto.rwd.shadow: .card-body.p-2
        +scope("photo-viewer").d-flex.flex-wrap
          div(ld-each="photo",style="width:300px;height:200px;background-size:cover;background-position:center center;background-repeat:no-repeat")
        +uploadr-viewer("uploadr-viewer2")

    +script("/assets/lib/@loadingio/debounce.js/main/index.min.js")
    +script("/assets/lib/@loadingio/ldquery/main/index.min.js")
    +script("/assets/lib/@loadingio/ldpage/main/index.min.js")
    +script("/assets/lib/proxise/main/index.min.js")
    +script("/assets/lib/ldview/main/index.min.js")
    +script("/assets/lib/ldnotify/main/index.min.js")
    +script("/assets/lib/ldcover/main/index.min.js")
    +script("/assets/lib/ldloader/main/index.min.js")
    +script("assets/lib/uploadr/dev/index.js")
    +script("assets/lib/uploadr/dev/providers/gcs.js")
    +script("assets/lib/uploadr/dev/providers/native.js")
    +script("/js/index.js")
