//- module
mixin uploadr(name)
  - if(!name) name = "uploadr";
  +scope(name).uploadr-upload
    .uploadr-upload-dropzone(ld="drop")
      .uploadr-upload-hint: div Drag & drop #[br] file(s) here
      .uploadr-viewer
        .uploadr-view-item(ld-each="file")
          img(ld="thumb")
          div(ld="progress")
          div(ld="delete") &times;
      .uploadr-loader: .ldld.default
    .uploadr-upload-ctrl
      .flex-grow-1.mr-2: .btn.btn-primary.btn-upload Add File ... #[input(type="file",ld="input",multiple)]
      div
        .btn.btn-primary.ml-2(ld="upload") Upload
        .btn.btn-primary.ml-2(ld="clear") Clear


mixin uploadr-viewer(name)
  .uploadr-viewer(ld="list")
    .item(ld-each="item")
      img
      .img
    .placeholder
    .placeholder
    .placeholder
  //-.d-flex.flex-wrap(ld="list")
    .flex-grow-1.mr-1.mb-1.bg-light.text-center.position-relative.border.ld.ld-float-btt-in(ld-each="item")
      img(style="max-height:200px;opacity:0")
      .w-100.h-100.position-absolute(style="top:0;left:0;" +
      "background-position:center center;background-repeat:no-repeat;" +
      "background-size:cover")
    div(Style="flex:10 0 auto")

//-mixin uploadr-upload(name)
  form.bg-light.w-100.text-white(ld="drop")
    .vertical-center
      .w-100.text-center.text-secondary.p-4
        .text-lg drag & drop #[br] files here
        .my-4 or
        .btn.btn-primary.btn-upload
          span Choose File
          input(ld="input", type="file", multiple)

mixin uploadr-list(name)
  .mt-2
    .bg-white.p-0.m-0(ld-each="file")
      .d-flex.align-items-center.text-muted
        .bg-portrait.bg-secondary.mr-2(ld="thumb",style="flex:0 0 auto;width:1.8125rem;height:1.8125rem;background-size:contain")
        .flex-grow-1.mx-1.text-truncate(ld="name") ...
        .mx-2.text-nowrap(ld="size") 0KB
        .btn.btn-link.btn-sm.text-nowrap.text-lg.text-danger(ld="delete") &times;
      .mt-1.bg-primary(ld="progress",style="width:0;height:3px;transition:all .35s ease-in-out")
