//- module
mixin uploadr(name)
  - if(!name) name = "uploadr";
  .uploadr(ld-scope=name)
    .uploadr-dropzone(ld="drop")
      .uploadr-hint: div Drag & drop #[br] file(s) here
      .uploadr-viewer
        .uploadr-item(ld-each="file")
          img(ld="thumb")
          .img(ld="thumb")
          .uploadr-item-ctrl
            div(ld="progress")
            .inner
              div(ld="size")
              div(ld="delete") &times;
      .uploadr-loader: .ldld.default(ld="loader")
    .uploadr-ctrl
      .flex-grow-1.mr-2: .btn.btn-primary.btn-upload Add File ... #[input(type="file",ld="input",multiple)]
      div
        .btn.btn-primary.ml-2(ld="upload") Upload
        .btn.btn-primary.ml-2(ld="clear") Clear
        .btn.btn-primary.ml-2(ld="close",data-ldcv-set="") Close

mixin uploadr-viewer(opt)
  -
    if(typeof(opt) == "string") { name = opt; }
    else if(!opt) { opt = {}; }
    var name = name || opt.name || "uploadr-viewer";
    var type = opt.type || "image";
  div(ld-scope=name): .uploadr-viewer(ld="list",class=(type=="file"?"uploadr-file-viewer":""))
    if type == "file"
      .uploadr-item.uploadr-head
        div Name
        div Size
        div Modified Date
    .uploadr-item(ld-each="file")
      if type == "image"
        img(ld="thumb")
        .img(ld="thumb")
      if type == "file"
        div(ld="name")
        div(ld="size")
        div(ld="modifiedtime")
    .uploadr-item.uploadr-load(ld="load") More
