.uploadr-list
  overflow-y: scroll
  scrollbar-gutter: stable
  overscroll-behavior: contain
  height: 100%
  display: flex
  flex-wrap: wrap
  align-items: center
  align-content: start
  justify-content: start
  padding: .5em
  gap: .5em
  &:after
    display: block
    content: " "
    flex: 3 0 auto

.uploadr-item
  cursor: pointer
  border-radius: 2px
  &[ld-each]
    display: none
  flex-grow: 1
  display: flex
  align-items: center
  justify-content: center
  padding: 0
  text-align: center
  position: relative
  width: 200px
  max-width: 250px
  height: 200px
  img[ld=thumb]
    width: 100%
    height: 100%
    object-fit: cover
  div[ld=thumb]
    width: 100%
    height: 100%
    background-position: center center
    background-size: cover
    background-repeat: no-repeat
    transition: background-size .35s ease-in-out, opacity .5s ease-in-out

.uploadr-item.uploadr-head
  position: sticky
  top: 0
  background: #fff
  z-index: 1
  border-bottom: 1px solid #eee
  padding-bottom: .25em
  margin-bottom: .25em
  cursor: default

.uploadr-item-ctrl
  position: absolute
  bottom: 0
  left: 0
  width: 100%
  color: #fff
  background: rgba(0,0,0,.4)
  font-size: .75em
  & > .uploadr-item-ctrl-info
    position: relative
    z-index: 2
    display: flex
    justify-content: space-between
    align-items: center
    padding: .25em .5em
    gap: .5em
    .uploadr-item-ctrl-name
      width: 60%
      flex-grow: 1
      overflow: hidden
      text-overflow: ellipsis
      text-align: left
    .uploadr-item-ctrl-size
      width: calc(30% - 1em)
      flex-grow: 1
      overflow: hidden
      text-overflow: ellipsis
      text-align: right
    .uploadr-item-ctrl-delete
      cursor: pointer

.uploadr-item-ctrl .uploadr-progress
  position: absolute
  bottom: 0
  left: 0
  z-index: 1
  height: 100%
  background: rgba(0,128,255,.5)
  transition: width .15s ease-in-out

.uploadr-load, .uploadr-end, .uploadr-reset
  user-select: none
  height: fit-content
  width: 100%
  max-width: 100%
  margin: .5em 0
.uploadr-end
  cursor: default

.uploadr-list-file
  flex-direction: column
  .uploadr-item:hover
    font-weight: 700
  .uploadr-head:hover
    font-weight: inherit
  .uploadr-item
    width: 100%
    max-width: 100%
    max-height: fit-content
    display: flex
    gap: .5em
    justify-content: space-between
  .uploadr-item-ctrl
    position: static
    .uploadr-item-ctrl-info
      width: 100%
  .uploadr-load, .uploadr-end, .uploadr-reset
    margin: 0
    justify-content: center
  .uploadr-item-name
    width: calc(55% - 1em)
    flex-grow: 1
    overflow: hidden
    text-overflow: ellipsis
    text-align: left
    white-space: nowrap
  .uploadr-item-size
    width: 10%
    flex-grow: 1
    overflow: hidden
    text-overflow: ellipsis
    text-align: right
    white-space: nowrap
  .uploadr-item-modifiedtime
    width: 30%
    flex-grow: 1
    overflow: hidden
    text-overflow: ellipsis
    text-align: right
    white-space: nowrap

@media(max-width: 800px)
  .uploadr-list-file .uploadr-item-modifiedtime
    display: none

.uploadr.uploadr-uploader
  position: relative
  display: flex
  flex-direction: column
  width: 100%
  height: 100%
  overflow-y: scroll
  text-align: center
.uploadr-dropzone
  position: relative
  width: 100%
  height: 100%
  min-height: 150px
.uploadr-hint
  position: absolute
  opacity: .3
  font-size: 1.5em
  width: 100%
  height: 100%
  top: 0
  left: 0
  display: flex
  align-items: center
  justify-content: center
  user-select: none
.uploadr-ctrl
  display: flex
  justify-content: space-between
  padding: .75em
  border-bottom: 1px solid rgba(0,0,0,.1)
  text-align: left
  position: sticky
  top: 0
  gap: .5em
.uploadr-ctrl-group
  display: flex
  flex-wrap: nowrap
  gap: .5em
.uploadr-loader
  position: absolute
  display: flex
  align-items: center
  justify-content: center
  top: 0
  left: 0
  width: 100%
  height: 100%
  pointer-events: none
.uploadr-button
  padding: .375em .75em
  line-height: 1.5
  font-size: 1em
  border-radius: .25em
  border: 1px solid rgba(0,0,0,.66)
  position: relative
  cursor: pointer
  transition: background .15s linear
  input
    display: block
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    margin: 0
    opacity: 0.01
.uploadr-button:hover
  background: rgba(0,0,0,.075)
