//- module
mixin uploadr-viewer(name)
  +scope(name)&attributes(attributes): .w-1024.mx-auto.my-4
    .d-flex.flex-wrap(ld="list")
      .flex-grow-1.mr-1.mb-1.bg-light.text-center.position-relative.border.ld.ld-float-btt-in(ld-each="item")
        img(style="max-height:200px;opacity:0")
        .w-100.h-100.position-absolute(style="top:0;left:0;" + 
        "background-position:center center;background-repeat:no-repeat;" +
        "background-size:cover")
      div(Style="flex:10 0 auto")

mixin uploadr-upload(name)
  .bg-light.w-100.text-white(ld="drop")
    .vertical-center
      .w-100.text-center.text-secondary.p-4
        .text-lg drag & drop #[br] files here
        .my-4 or
        .btn.btn-primary.btn-upload
          span Choose File
          input(ld="input", type="file", multiple)

mixin uploadr-list(name)
  .w-480.mx-auto.my-4
    .bg-white.p-1.m-2(ld-each="file")
      .d-flex.align-items-center
        .bg-portrait.bg-secondary(ld="thumb",style="width:1.8125rem;height:1.8125rem;background-size:contain")
        .flex-grow-1.mx-1(ld="name") ...
        .mx-2(ld="size") 0KB
        .btn.btn-outline-danger.btn-sm(ld="delete") remove &times;
      .mt-1.bg-primary(ld="progress",style="width:0;height:3px;transition:all .35s ease-in-out")
