.uploadr-viewer
  display: flex
  flex-wrap: wrap
  .item
    flex-grow: 1
    margin: 0 .25em .25em 0
    background: #ccc
    text-align: center
    position: relative
    img
      max-height: 200px
      opacity: 0
    .img
      width: 100%
      height: 100%
      position: absolute
      top: 0
      left: 0
      background-position: center center
      background-repeat: no-repeat
      background-size: cover
  .placeholder
    flex: 1 0 auto

